@import "variables";
@import "mixins";
@import "more";

.anchor-upload{
	float: right;
	color: #578ba5;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: underline;
	margin-top: 0.2rem;
}

.form-gd{
	.form-actions{
		border-top: none;
	}
	.form-group{
		label{
			font-weight: bold;
			color: #5c5c5c;
			&>span{
				color: #ff0000;
			}
		}
	}
	.form-heading{
		color: #5c5c5c;
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 2rem;
		font-weight: 900;
		float: left;
	}
	.form-section{
		color: #5b5b5b;
		font-size: 1.8rem;
		font-weight: 900;
		border-bottom: none;
		margin-left: 1.5rem;
		margin-bottom: 1rem;
	}
	.form-short-desc{
		color: #8e8e8e;
		font-size: 1.4rem;
		margin-top: 3rem !important;
	}
}

@media (max-width: 991px) {
	.form-gd{
		.form-section{
			margin-left: 0;
		}
	}
}

.form-lb-large{
	.form-group{
		label{
			font-size: 1.8rem;
		}
	}
}

.form-control{
	border: 1px solid #5c5c5c;
	&:focus{
		border-color: #5b5b5b;
	}
}

.box-widget-sidebar{
	margin-top: 2rem;
}

.list-upper-link{
	&>li>a{
		text-transform: uppercase;
	}
}

.page-footer{
	padding: 18px 20px 17px;
	height: auto;
	background: #274e60;

	.page-footer-inner{
		float: none;
		display: block;
		text-align: center;
	}

	.social-link{
		display: block;
		margin-bottom: 1rem;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				display: inline;
				padding-left: 10px;
			}
		}
	}

	.foot-link{
		display: block;
		margin-bottom: 1rem;
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				position: relative;
				padding-left: 10px;
				a{
					color: #afb5b8;
					font-size: 1.3rem;
				}
				&:before{
					content: "";
					display: inline-block;
					height: 10px;
					vertical-align: middle;				
				}
			}
			&>:nth-child(n+2):before{
				margin-right: 10px;
				border-left: 1px solid #afb5b8;
			}
		}
	}	

	.sire-coppy{
		span{
			display: inline-block;
			color: #fff;
			font-weight: 700;
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 992px) {
	.page-footer{
		height: 70px;

		.social-link,
		.foot-link,
		.sire-coppy{
			display: inline-block;
		}

		.sire-coppy{
			margin-left: 10px;
		}
	}
}

.stt-step{
	font-size: 1.8rem;
	font-weight: 900;
	color: #5c5c5c;
	margin-top: 0;
}

.sub-stt-step{
	font-size: 1.4rem;
	font-weight: 900;
	color: #5c5c5c;
}

.bg-step{
	position: relative;
	margin-top: 2.5rem;
	width: 100%;
	&:after{
		content: "";
		width: 97px;
		height: 80px;
		background-image: url("@{path-images}/bg-profile-step.png");
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		.transform(translate(-50%,-50%));
	}
}

.widget-free{
	background-color: #fff;
	.border-radius(4px);
	.widget-free-header{
		background-color: #74c37f;
		.border-radiuses(4px, 0 , 0 , 4px);
		h4{
			
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: 900;
			color: #fff;
			
			padding: 2.5rem 0 2.5rem 1.5rem;
		}
	}
	.widget-free-body{
		padding: 1rem 1.5rem 3rem;
		.list-widget-free{
			li{
				font-size: 1.8rem;
				color: #6e6e6e;
				margin-top: 2rem;
				&>span{
					color: #74c37f;
				}
				&:first-of-type{
					font-size: 3rem;
					color: #74c37f;
					font-weight: 900;					
					margin-top: 0;
					span{
						font-size: 4rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1600px) {
	.widget-free{
		.widget-free-body{
			.list-widget-free{
				li{
					&:first-of-type{
						span{
							font-size: 5rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1600px) {
	.widget-free{
		.widget-free-header{
			h4{
				font-size: 3.9rem;
				padding: 2.5rem 0 2.5rem 4.5rem;
			}
		}

		.widget-free-body{
			padding: 3rem 4.5rem;
		}
	}
}

.statistical{
	border: 1px solid #5c5c5c;
	padding: 2rem;
	margin-bottom: 3rem;
	.border-radius(4px);
	.list-plan-statistical{
		li{
			&:first-of-type{
				margin-top: 0;
			}
			color: #5b5b5b;
			font-weight: 700;
			margin-top: 1.5rem;
			span{
				color: #74c37f;
				float: right;
				text-transform: uppercase;
			}
			em{
				display: block;
				font-size: 1.2rem;
				color: #5c5c5c;
				font-style: normal;
				font-weight: normal;
			}
		}
	}
}

.worldpay-help{
	display: inline-block;
	font-style: italic;
	color: #8f8f8f;
	margin-top: 5px;
	margin-left: 20px;
	a{
		color: #274e60;
		text-decoration: underline;
	}
}

.wrap-buycredit{
	.amount{
		margin-top: 5px;
	}
	.amountx{
		font-weight: 700;
		color: #5c5c5c;
		display: inline-block;
		margin-top: 0.7rem;
	}
	.btt-calculate{
		margin-right: 0;
		
	}
}
@media (min-width: 1200px){
	.wrap-buycredit{
		.btt-calculate{
			float: right;
			margin-top: 2rem;
		}
	}
}

.tab-invite{
	.tab-invite-ul{
		margin-bottom: 0;
		li{
			a{
				font-weight: 700;
				color: #5c5c5c;
			}
			&.active{
				a{
					color: #74c37f;
				}
			}
		}
	}
	.tab-invite-content{
		border: 1px solid #ddd;
		border-top: none;
		padding: 1.5rem;
	}
}

.bootstrap-select .btn{
	border-color: #5c5c5c;
}

.btt-invite-email{
	width: 47px;
	height: 47px;
	margin-right: 1rem;	
	display: inline-block;
	border: 3px solid transparent;
	&:hover,&.active{
		border-color: #74c37f;
	}
}

.holder-friend{
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	min-height: 230px;
}

.dv-send-invite{
	margin-top: 1.5rem;
}

.invite-social-ic{
	font-size: 3.5rem;
	&:hover{
		text-decoration: none;
	}
	&.fb{
		i{			
			color: rgb(59, 89, 152);
		}
	}
	&.tw{
		i{
			color: rgb(85, 172, 238);
		}
	}
	&.gp{
		i{
			color: rgb(221, 75, 57);
		}
	}
}

.tab-invite-1{
	margin-bottom: 3rem;
	.invite-ul{
		border-bottom: none;
		&>li{
			a{
				text-align: center;
				margin-right: 0;
				span{
					text-align: center;
					color: #5c5c5c;
					margin-left: auto;
					margin-right: auto;
				}
				.tab-img{
					display: block;
					width: 40px;
					height: 28px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 5px;
					background-repeat: no-repeat;
					background-position: center;
					&.i-1{
						background-image: url("@{path-images}/icon_my_plan_unactive.png");
					}
					&.i-2{
						background-image: url("@{path-images}/icon_upgrade_plan_unactive.png");
					}
					&.i-3{
						background-image: url("@{path-images}/icon_buy_credits_unactive.png");
					}
					&.i-4{
						background-image: url("@{path-images}/icon_buy_keyword_unactive.png");
					}
					&.i-5{
						background-image: url("@{path-images}/icon_invite_friends_unactive.png");
					}
				}

				&:hover{
					border-color: transparent;
				}
			}

			&.active{
				&>a{
					border: none;
					&>span{
						color: #74c37f;
					}
					.tab-img{
						&.i-1{
							background-image: url("@{path-images}/icon_my_plan.png");
						}
						&.i-2{
							background-image: url("@{path-images}/icon_upgrade_plan.png");
						}
						&.i-3{
							background-image: url("@{path-images}/icon_buy_credits.png");
						}
						&.i-4{
							background-image: url("@{path-images}/icon_buy_keyword.png");
						}
						&.i-5{
							background-image: url("@{path-images}/icon_invite_friends.png");
						}
					}
				}
			}

			&.tabdrop{
				margin-top: 1.5rem;
				a{
					color: #5c5c5c;
				}
			}
		}
	}

	.dropdown-menu{
		&>li{
			&.active{
				&>a{
					&>span{
						color: #74c37f !important;	
					}
					.tab-img{
						&.i-1{
							background-image: url("@{path-images}/icon_my_plan.png");
						}
						&.i-2{
							background-image: url("@{path-images}/icon_upgrade_plan.png");
						}
						&.i-3{
							background-image: url("@{path-images}/icon_buy_credits.png");
						}
						&.i-4{
							background-image: url("@{path-images}/icon_buy_keyword.png");
						}
						&.i-5{
							background-image: url("@{path-images}/icon_invite_friends.png");
						}
					}
				}
			}
		}
	}

	.invite-content{

	}
}

@media (min-width: 1366px) and (max-width: 1660px) {
	.tab-invite-1{
		.invite-ul{
			&>li{
				a{
					padding: 1rem 0.6rem;
				}
			}
		}
	}
}

.portlet-heading{
	font-size: 2.6rem;
	color: #5c5c5c;
	font-weight: 900;	
}

.portlet-heading2{
	font-size: 1.8rem;
	color: #5c5c5c;
	font-weight: 900;
}

.portlet-heading3{
	font-size: 1.4rem;
	line-height: 1.8rem;
	font-weight: 700;
	color: #5c5c5c;
}

.portlet-subheading{
	font-size: 1.8rem;
}

.sub-tit{
	font-size: 1.6rem;
	color: #274e60;
	margin-bottom: 2rem;
	display: inline-block;
}

.des-for-heading{
	font-style: italic;
	color: #8f8f8f;
}

.btn-create-new-list{
	background-color: #5c5c5c;
	text-transform: uppercase;
	font-weight: 700;
}

.help-block.has-error{
	color: #dd0000;
}

.campaign-next{
	margin-top: 1rem;
	margin-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	i{
		margin-left: 1rem;
	}
}

.wrap-campaign-template{
	position: relative;
	.campaign-template{
		margin-bottom: 2rem;
		cursor: pointer;
		.template-name{
			width: 100%;
			font-size: 2rem;
			color: #5c5c5c;
			font-weight: 900;
			position: absolute;
			text-align: center;
			top: 50%;
			left: 50%;
			.transform(translate(-50%, -50%));
		}

		.campaign-template-content{
			margin-top: 2rem;
			display: none;
			.inner-content{
				position: absolute;
				left: 0;
				right: 0;
				background-color: #74c37f;

				.inner-phone{
					padding: 2rem 2rem 0;
					.img-responsive{
						display: inline-block;
						margin-left: auto;
						margin-right: auto;
					}
				}

				.short-content{
					background-color: #5c5c5c;
					text-align: center;
					font-style: italic;
					color: #fff;
					padding: 15px 0;
				}
			}
		}

		.retangle-1 {
			position: relative;
			width: 100%;
			background-color: #dedede;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			border-radius: 4px;
			&:before{
				content: '';
				border-right: 20px solid transparent;
				border-bottom: 20px solid transparent; //change to #74c37f
				border-left: 20px solid transparent;
				position: absolute;
				left: 50%;
				top: 100%;
				.transform(translateX(-50%));
			}
			&:after{
				content: '';
				display: block;
				padding-bottom: 80%;
			}

			.inner-retangle{
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;

				.extend-img{
					width: 100%;
				}
			}
		}


		&.active{
			.template-name{
				color: #fff;
			}
			.retangle-1{
				background-color: #74c37f;
				&:before{
					border-bottom: 20px solid #74c37f;
				}
			}
		}

		&.non-template{
			&.active{
				.retangle-1{
					&:before{
						display: none;
					}
				}
			}
		}
	}
}

.wrap-preview{
	text-align: center;
	.preview-screen{
		display: inline-block;
		position: relative;
		margin: 2rem auto;
		min-width: 390px;
		min-height: 795px;

		.bg-preview-screen{
			position: absolute;
			top: 0;
			left: 0;
		}

		.phone-screen{
			position: absolute;
			width: 349px;
			height: 500px;
			background: transparent;
			top: 200px;
			left: 20px;
			.inner-phone-screen{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 455px;
				padding: 0 1rem 1rem;;

				.bubble{
					display: inline-block;
					padding: 1rem 1.5rem;
					position: relative;
					margin-bottom: 1.5rem;
					.border-radius(20px);
					&.me{
						text-align: left;
						float: right;
						color: #fff;
						font-weight: 700;
						background-color: #00d74a;
						&:after{
							content: '';
							width: 21px;
							height: 20px;
							background-image: url('@{path-images}/bubble-me.jpg');
							background-repeat: no-repeat;
							position: absolute;
							right: -3px;
							bottom: -10px;
						}
					}
					&.guess{
						width: 80%;
						text-align: left;
						float: left;
						background-color: #e4e4e9;
						&:before{
							content: '';
							width: 21px;
							height: 20px;
							background-image: url('@{path-images}/bubble-guess.jpg');
							background-repeat: no-repeat;
							position: absolute;
							left: -2px;
							bottom: -10px;
						}
					}
				}
			}

			.type-screen{
				width: 170px;
				position: absolute;
				right: 10px;
				bottom: 3px;
				height: 32px;
				#SMSTextInputArea{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					resize: none;
					border: 1px solid #d8d8dc;
					padding: 5px 33px 5px 12px;
					overflow: hidden;
					.border-radius(32px);
					&:focus{
						outline: none;
					}
				}

				#SMSSend{
					position: absolute;
					right: 5px;
					top: 3px;
					width: 26px;
					height: 26px;
					background-color: #858e99;
					border: none;
					color: #fff;
					line-height: 25px;
					text-align: center;
					.border-radius(100%);
					&:focus{
						outline: none;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.wrap-preview{
		.preview-screen{
			min-height: 500px;
			min-width: initial !important;
			width: 100%;
			.bg-preview-screen{
				display: none;
			}

			.phone-screen{
				top: 0;
				left: 0;
				right: 0;
				width: auto;
				padding-top: 1rem;
				border: 1px solid #d8d8dc;

				.type-screen{
					width: auto;
					left: 10px;
				}
			}
		}
	}
}

.collect-feedback-text{	
	color: #fff;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1200px) {
	.collect-feedback-text{
		width: 60%;
	}
}

.be-modal{
	.modal-header{
		border-bottom: none;
	}
	.modal-body{
		padding: 0 6rem 0;
	}
	.modal-footer{
		border-top: none;
		padding: 0 6rem 6rem;
	}
	.be-modal-title{
		font-size: 2rem;
		font-weight: 900;
		text-transform: uppercase;
		color: #5c5c5c;
		margin-bottom: 2.5rem;
	}
	.message-non-footer{
		margin-bottom: 6rem;
	}
}

.subscriber-item{
	width: 100%;
	height: 100%;
	padding: 3rem;
	cursor: pointer;
	.border-radius(4px);
	&.greenbox{
		background-color: #74c37f;
		&:hover{
			background-color: #5ea568;
		}
	}
	&.bluebox{
		background-color: #578ca5;
		&:hover{
			background-color: #467286;
		}
	}
	.titleh4{
		font-size: 2.4rem;
		color: #fff;
		font-weight: 900;
	}
	.img-responsive{
		display: inline-block;
	}
}

.row-subscriber{
	.uk-active{
		.subscriber-item{
			&.greenbox{
				background-color: #5ea568;
			}
			&.bluebox{
				background-color: #467286;
			}
		}
	}
}

@media (max-width: 1199px) {
	.row-subscriber{
		&>[class^='col-']{
			width: 100%;
			margin-bottom: 2rem;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

.answer-wrap{
	margin-bottom: 1.5rem;
	label{
		float: left;
		font-weight: 700;
		color: #5c5c5c;
		margin-top: 7px;
		margin-right: 10px;
		display: inline-block;
	}
	.answer-wrap-select{
		float: left;
		width: 60%;
	}
}

.readonly-val[disabled], 
.readonly-val[readonly], 
fieldset[disabled] .readonly-val{
	background-color: #fff;
}

.list-answer-template{
	border: 1px solid #5c5c5c;
	overflow: hidden;
	margin-bottom: 1.5rem;
	.border-radius(4px);
	ul{
		li{
			input[type='radio']{
				width: 0;
				height: 0;
				visibility: hidden;
				float: left;
				&+label{
					display: block;
					width: 100%;
					padding: 3px 10px;
    				margin-bottom: 0;
					cursor: pointer;
				}

				&:checked+label{
					background-color: #dedede;
				}
			}
		}
	}
}

.write-mess-body{
	border-top: 1px solid #dedede;
	padding-top: 2rem;
}

.box-multi-choice{
	margin-top: 2rem;
}

@media (min-width: 1200px) {
	.add-another-question{
		text-align: right;
	}	
}

.add-plus{
	margin-bottom: 2rem;
}

.or-text{
	span{
		display: inline-block;
		font-size: 1.8rem;
		color: #5c5c5c;
		margin-top: 2.5rem;
	}
}

@media (max-width: 1199px) {
	.or-text{
		span{
			margin-top: 0;
		}
	}	
}

.update_cardholder_info{
	margin-bottom: 1.5rem;
	.list-newinfo{
		li{
			font-weight: 700;
			color: #5b5b5b;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 600px) {
	.page-header.navbar{
		.page-top{
			height: 75px !important;
		}
	}

	.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{
		padding: 26px 10px 28px !important;
	}

	.page-header.navbar .top-menu .navbar-nav>li>a{
		font-size: 1.5rem !important;
	}
}

@media (max-width: 480px) {
	.hide-on-mobile{
		display: none;
	}	

	.handle-float-heading{
		.form-heading{
			float: none;
			margin-bottom: 1rem !important;
		}	
		.anchor-upload{
			float: none;
		}		
	}

	.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu{
		margin-top: 0;
	}

	
}

.wrap-show-img{
	margin-bottom: 1.5rem;
	.OrgLogo-wrapper{
		float: left;
		border: 1px solid #ccc;
		padding: 5px;
		.border-radius(4px);
	}
	#removeLogo{
		float: left;
		display: inline-block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		background-color: #ff0000;
		color: #fff;
		text-align: center;
		position: relative;
		left: -10px;
		top: -10px;
		.border-radius(20px);
	}
}

@media (min-width: 992px) and (max-width: 1300px) {
	.checkbox-list{
		.checkbox-inline{
			&:first-of-type{
				display: block;
			}
			&:nth-of-type(2){
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}

@media (max-width: 480px) {
	.checkbox-list{
		.checkbox-inline{
			&:first-of-type{
				display: block;
			}
			&:nth-of-type(2){
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}

.page-sidebar-wrapper{
	&.sidebar-fixed{
		position: fixed;
		margin-top: 1rem;
	}
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #fff;
}

.table-striped>tbody>tr:nth-of-type(even){
	background-color: #f6fbfe;
}

.step-holder{
	.mauto{
		margin-left: auto;
		margin-right: auto;
	}
}

.wrap-dial-step{
	padding: 0 0 40px;
}

@media (min-width: 1600px) {
	.wrap-dial-step{
		padding: 15px 22px 60px;
	}
}
	
@media (min-width: 1366px) {
	.col-wrap-profile{
		padding: 10px 22px 0 23px;
	}
}

.mCSB_outside + .mCSB_scrollTools{
	right: -12px;
}

// start custom switcher
.uk-switcher{
	&>:not(.uk-active){
		display: none;
	}
}
// end custom switcher

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}

.dropdown-menu{
	font-family: 'Source Sans Pro', sans-serif;	
}
	
.page-header.navbar{
	height: 100px;
	min-height: 100px;
	background: #274e60;
	border-bottom: none;
}

.page-header-fixed .page-container{
	margin-top: 100px;
}

.page-header.navbar .page-logo{
	height: 100px;
}

.page-header.navbar .page-top{
	height: 100px;
}

.page-header.navbar .page-logo .logo-default{
	margin: 21px 10px 0;
}

.page-header.navbar .menu-toggler.responsive-toggler{
	margin: 39.5px 14px 0 6px;
}

.page-header.navbar .top-menu .navbar-nav>li>a{
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
	padding: 40px 10px 39px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover{
	background-color: transparent;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle{
	background-color: transparent;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user{
	padding: 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle{
	padding: 40px 10px 39px;
}

.page-header.navbar .top-menu .navbar-nav>li.separator{
	margin: 42px 0 0;
}

.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{
	background-color: #274e60;
	background-color: transparent;
}

.page-sidebar .page-sidebar-menu, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{	
	overflow: hidden;
	background-color: #274e60;
	margin-bottom: 2rem;
}

@media (min-width: 992px){
	.page-sidebar{
		width: 250px;
	}

	.page-content-wrapper .page-content{
		margin-left: 250px;
	}

	.page-sidebar, 
	.page-sidebar .page-sidebar-menu{
		margin-top: 0;
		margin-bottom: 2rem;
	}
}

@media (min-width: 1600px){
	.page-sidebar{
		width: 354px;
	}

	.page-content-wrapper .page-content{
		margin-left: 354px;
	}
}

.page-sidebar .page-sidebar-menu>li>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	color: #fff;
	text-transform: uppercase;	
}

.page-sidebar .page-sidebar-menu>li:first-of-type>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:first-of-type>a{		
	border-top: none;
}

@media (min-width: 992px){
	.page-sidebar .page-sidebar-menu>li>a, 
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{		
		border-top: 1px solid #fff;
	}	
}

.page-sidebar .page-sidebar-menu>li>a>.title, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title{
	font-size: 1.8rem;
}

.page-sidebar .page-sidebar-menu>li.open>a, 
.page-sidebar .page-sidebar-menu>li:hover>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
	background: #4c7d94;
	color: #fff;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, 
.page-sidebar .page-sidebar-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
	background: #4c7d94;
	color: #fff;
}

.page-sidebar .page-sidebar-menu>li.active.open>a:hover, 
.page-sidebar .page-sidebar-menu>li.active>a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{
	background: #4c7d94;
	color: #fff;
}

.page-sidebar .page-sidebar-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
	border-left: none !important;
	margin-left: 0;
}

.page-sidebar .page-sidebar-menu>li.active.open>a>i, 
.page-sidebar .page-sidebar-menu>li.active>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i{
	color: #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu{
	margin: 0;
	background: #1f3540;
}

.page-sidebar .page-sidebar-menu .sub-menu li>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a{
	font-size: 1.8rem;
	color: #fff;
	text-transform: uppercase;
	border-top: 1px solid #fff;
	padding: 12px 14px 12px 30px;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
	color: #fff !important;
	background: #578ca5 !important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a{
	font-style: italic;
}

.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
	color: #fff;
	font-size: 1.4rem;
}

.page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i{
	color: #fff;
}

.page-footer-fixed .page-boxed .page-footer, 
.page-footer-fixed .page-footer{
	background: #274e60;
}

@media (min-width: 992px){
	.page-footer-fixed .page-container{
		margin-bottom: 70px !important;
	}
}

@media (max-width: 375px) {
  #TimeMachineContainer .inputbox-container {
      width: 320px !important;
  }
}

@media (max-width: 375px) {
  #TimeMachineContainer .inputbox-container {
      width: 250px !important;
  }
  #TimeMachineContainer .bluebuttonAuto{
      display: table;
  }
  #inpJSON{
    width: 250px !important;
  }
}

.modal-backdrop, 
.modal-backdrop.fade.in{
	background-color: #000 !important;
}

.modal-backdrop.in{
    opacity: .57;
    filter: alpha(opacity=57);
}

#subscriber_list_form_add #add-sub-list-modal-content #btn-save-group{
  margin-top: 0px !important;
}
#subscriber_list_form_add #add-sub-list-modal-content .btn.btn-primary.btn-back-custom{
  margin-bottom: 77px !important;
  box-shadow: 0px 0px 0px 0px #fff !important;
  margin-left: 0px !important;
  border-color: transparent !important;
}

#modal-signout .message{
  font-family:"Source Sans Pro", sans-serif;
}

.worldpay-help{
  color: rgb(92, 92, 92);
  font-family: 'Source Sans Pro', sans-serif !important;
}