html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  background: #dedede;
}
.newbtn {
  padding: 1rem 3rem;
  margin-right: 1.5rem;
}
.btn.green-gd:not(.btn-outline),
.btn-success-custom:not(.btn-outline) {
  color: #FFF;
  background-color: #74c37f;
  border-color: #74c37f;
  text-transform: uppercase;
  font-weight: 700;
}
.btn.green-gd:not(.btn-outline):hover,
.btn-success-custom:not(.btn-outline):hover {
  color: #FFF;
  background-color: #5ea568;
  border-color: #5ea568;
}
.btn.green-cancel:not(.btn-outline),
.btn-back-custom:not(.btn-outline) {
  color: #FFF;
  background-color: #578ca5;
  border-color: #578ca5;
  text-transform: uppercase;
  font-weight: 700;
}
.btn.green-cancel:not(.btn-outline):hover,
.btn-back-custom:not(.btn-outline):hover {
  color: #FFF;
  background-color: #48768c;
  border-color: #48768c;
}
.block {
  display: block;
}
.text-green {
  color: #83dd8f !important;
}
.row-small {
  margin-left: -5px;
  margin-right: -5px;
}
.row-small > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row-medium {
  margin-left: -10px;
  margin-right: -10px;
}
.row-medium > [class^="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.for-col-nonrelative > [class^="col-"] {
  position: static;
}
.margin-remove {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.width-1-1 {
  width: 100%;
}
.height-1-1 {
  height: 100%;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/*Custom row flex*/
.row-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-flex:after,
.row-flex:before {
  content: "";
  display: block;
  overflow: hidden;
}
.row-flex:after {
  clear: both;
}
.row-flex [class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
/*End Custom row flex*/
/* ========================================================================
   Component: Flex
 ========================================================================== */
.com-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.com-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
/*
 * Fixes initial flex-shrink value in IE10
 */
.com-flex > *,
.com-flex-inline > * {
  -ms-flex-negative: 1;
}
/* Alignment
 ========================================================================== */
/*
 * Vertical alignment
 * Default value is `stretch`
 */
.com-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.com-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.com-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/*
 * Horizontal alignment
 * Default value is `flex-start`
 */
.com-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.com-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.com-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.com-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* Direction
 ========================================================================== */
.com-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.com-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.com-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* Wrap
 ========================================================================== */
.com-flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.com-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.com-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
/*
 * Horizontal alignment
 * Default value is `stretch`
 */
.com-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.com-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.com-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.com-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.com-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}
/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.com-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.com-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  .com-flex-order-first-small {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-small {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .com-flex-order-first-medium {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-medium {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .com-flex-order-first-large {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-large {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .com-flex-order-first-xlarge {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-xlarge {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.com-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}
/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 * 1. Fixes flex-shrink value in IE10
 */
.com-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  /* 1 */
  -ms-flex-negative: 1;
}
/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.com-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}
.line-clamp:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1.5em);
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1.5em);
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(3em);
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(4.5em);
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(6em);
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(7.5em);
}
.line-clamp-6 {
  -webkit-line-clamp: 6;
  height: calc(9em);
}
.line-clamp-7 {
  -webkit-line-clamp: 7;
  height: calc(10.5em);
}
.row-small {
  margin-left: -5px;
  margin-right: -5px;
}
.row-small [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row-collapse {
  margin-left: 0;
  margin-right: 0;
}
.row-collapse [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.relative {
  position: relative;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 480px) {
  .hidden-480 {
    display: none !important;
  }
}
.width-1-1 {
  width: 100% !important;
}
.icon-addon {
  position: relative;
  display: block;
}
.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
}
.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}
.middle-navbar .navbar-nav > .active > a,
.middle-navbar .navbar-nav > .active > a:focus,
.middle-navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
  text-shadow: 2px 1px 8px #ffffff;
}
.anchor-upload {
  float: right;
  color: #578ba5;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 0.2rem;
}
.form-gd .form-actions {
  border-top: none;
}
.form-gd .form-group label {
  font-weight: bold;
  color: #5c5c5c;
}
.form-gd .form-group label > span {
  color: #ff0000;
}
.form-gd .form-heading {
  color: #5b5b5b;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 900;
  float: left;
}
.form-gd .form-section {
  color: #5b5b5b;
  font-size: 1.8rem;
  font-weight: 900;
  border-bottom: none;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.form-gd .form-short-desc {
  color: #8e8e8e;
  font-size: 1.4rem;
  margin-top: 3rem !important;
}
@media (max-width: 991px) {
  .form-gd .form-section {
    margin-left: 0;
  }
}
.form-lb-large .form-group label {
  font-size: 1.8rem;
}
.form-control {
  border: 1px solid #5c5c5c;
}
.form-control:focus {
  border-color: #5b5b5b;
}
.box-widget-sidebar {
  margin-top: 2rem;
}
.list-upper-link > li > a {
  text-transform: uppercase;
}
.page-footer {
  padding: 18px 20px 17px;
  height: auto;
  background: #274e60;
}
.page-footer .page-footer-inner {
  float: none;
  display: block;
  text-align: center;
}
.page-footer .social-link {
  display: block;
  margin-bottom: 1rem;
}
.page-footer .social-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-footer .social-link ul li {
  display: inline;
  padding-left: 10px;
}
.page-footer .foot-link {
  display: block;
  margin-bottom: 1rem;
}
.page-footer .foot-link ul {
  margin: 0;
  padding: 0;
}
.page-footer .foot-link ul li {
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
.page-footer .foot-link ul li a {
  color: #afb5b8;
  font-size: 1.3rem;
}
.page-footer .foot-link ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  vertical-align: middle;
}
.page-footer .foot-link ul > :nth-child(n+2):before {
  margin-right: 10px;
  border-left: 1px solid #afb5b8;
}
.page-footer .sire-coppy span {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  .page-footer {
    height: 70px;
  }
  .page-footer .social-link,
  .page-footer .foot-link,
  .page-footer .sire-coppy {
    display: inline-block;
  }
  .page-footer .sire-coppy {
    margin-left: 10px;
  }
}
.stt-step {
  font-size: 2.6rem;
  font-weight: 900;
  color: #5c5c5c;
  margin-top: 0;
}
.sub-stt-step {
  font-size: 1.7rem;
  font-weight: 900;
  color: #5c5c5c;
}
.bg-step {
  position: relative;
  margin-top: 3rem;
}
.bg-step:after {
  content: "";
  width: 97px;
  height: 80px;
  background-image: url("../img/bg-profile-step.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.widget-free {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget-free .widget-free-header {
  background-color: #74c37f;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget-free .widget-free-header h4 {
  font-size: 3.9rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  padding: 2.5rem 0 2.5rem 4.5rem;
}
.widget-free .widget-free-body {
  padding: 3rem 4.5rem;
}
.widget-free .widget-free-body .list-widget-free li {
  font-size: 1.8rem;
  color: #6e6e6e;
  margin-top: 2rem;
}
.widget-free .widget-free-body .list-widget-free li > span {
  color: #74c37f;
}
.widget-free .widget-free-body .list-widget-free li:first-of-type {
  font-size: 3rem;
  color: #74c37f;
  font-weight: 900;
  margin-top: 0;
}
.widget-free .widget-free-body .list-widget-free li:first-of-type span {
  font-size: 5rem;
}
.statistical {
  border: 1px solid #5c5c5c;
  padding: 2rem;
  margin-bottom: 3rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.statistical .list-plan-statistical li {
  color: #5b5b5b;
  font-weight: 700;
  margin-top: 1.5rem;
}
.statistical .list-plan-statistical li:first-of-type {
  margin-top: 0;
}
.statistical .list-plan-statistical li span {
  color: #74c37f;
  float: right;
  text-transform: uppercase;
}
.statistical .list-plan-statistical li em {
  display: block;
  font-size: 1.2rem;
  color: #5c5c5c;
  font-style: normal;
  font-weight: normal;
}
.worldpay-help {
  display: inline-block;
  font-style: italic;
  color: #8f8f8f;
  margin-top: 5px;
  margin-left: 20px;
}
.worldpay-help a {
  color: #274e60;
  text-decoration: underline;
}
.wrap-buycredit .amount {
  margin-top: 5px;
}
.wrap-buycredit .amountx {
  font-weight: 700;
  color: #5c5c5c;
  display: inline-block;
  margin-top: 0.7rem;
}
.wrap-buycredit .btt-calculate {
  margin-right: 0;
}
@media (min-width: 1200px) {
  .wrap-buycredit .btt-calculate {
    float: right;
    margin-top: 2rem;
  }
}
.tab-invite .tab-invite-ul {
  margin-bottom: 0;
}
.tab-invite .tab-invite-ul li a {
  font-weight: 700;
  color: #5c5c5c;
}
.tab-invite .tab-invite-ul li.active a {
  color: #74c37f;
}
.tab-invite .tab-invite-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 1.5rem;
}
.bootstrap-select .btn {
  border-color: #5c5c5c;
}
.btt-invite-email {
  width: 47px;
  height: 47px;
  margin-right: 1rem;
  display: inline-block;
  border: 3px solid transparent;
}
.btt-invite-email:hover,
.btt-invite-email.active {
  border-color: #74c37f;
}
.holder-friend {
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 230px;
}
.dv-send-invite {
  margin-top: 1.5rem;
}
.invite-social-ic {
  font-size: 3.5rem;
}
.invite-social-ic:hover {
  text-decoration: none;
}
.invite-social-ic.fb i {
  color: #3b5998;
}
.invite-social-ic.tw i {
  color: #55acee;
}
.invite-social-ic.gp i {
  color: #dd4b39;
}
.tab-invite-1 {
  margin-bottom: 3rem;
}
.tab-invite-1 .invite-ul {
  border-bottom: none;
}
.tab-invite-1 .invite-ul > li a {
  text-align: center;
}
.tab-invite-1 .invite-ul > li a span {
  text-align: center;
  color: #5c5c5c;
  margin-left: auto;
  margin-right: auto;
}
.tab-invite-1 .invite-ul > li a .tab-img {
  display: block;
  width: 40px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.tab-invite-1 .invite-ul > li a .tab-img.i-1 {
  background-image: url("../img/icon_my_plan_unactive.png");
}
.tab-invite-1 .invite-ul > li a .tab-img.i-2 {
  background-image: url("../img/icon_upgrade_plan_unactive.png");
}
.tab-invite-1 .invite-ul > li a .tab-img.i-3 {
  background-image: url("../img/icon_buy_credits_unactive.png");
}
.tab-invite-1 .invite-ul > li a .tab-img.i-4 {
  background-image: url("../img/icon_buy_keyword_unactive.png");
}
.tab-invite-1 .invite-ul > li a .tab-img.i-5 {
  background-image: url("../img/icon_invite_friends_unactive.png");
}
.tab-invite-1 .invite-ul > li a:hover {
  border-color: transparent;
}
.tab-invite-1 .invite-ul > li.active > a {
  border: none;
}
.tab-invite-1 .invite-ul > li.active > a > span {
  color: #74c37f;
}
.tab-invite-1 .invite-ul > li.active > a .tab-img.i-1 {
  background-image: url("../img/icon_my_plan.png");
}
.tab-invite-1 .invite-ul > li.active > a .tab-img.i-2 {
  background-image: url("../img/icon_upgrade_plan.png");
}
.tab-invite-1 .invite-ul > li.active > a .tab-img.i-3 {
  background-image: url("../img/icon_buy_credits.png");
}
.tab-invite-1 .invite-ul > li.active > a .tab-img.i-4 {
  background-image: url("../img/icon_buy_keyword.png");
}
.tab-invite-1 .invite-ul > li.active > a .tab-img.i-5 {
  background-image: url("../img/icon_invite_friends.png");
}
.tab-invite-1 .invite-ul > li.tabdrop {
  margin-top: 1.5rem;
}
.tab-invite-1 .invite-ul > li.tabdrop a {
  color: #5c5c5c;
}
.tab-invite-1 .dropdown-menu > li.active > a > span {
  color: #74c37f !important;
}
.tab-invite-1 .dropdown-menu > li.active > a .tab-img.i-1 {
  background-image: url("../img/icon_my_plan.png");
}
.tab-invite-1 .dropdown-menu > li.active > a .tab-img.i-2 {
  background-image: url("../img/icon_upgrade_plan.png");
}
.tab-invite-1 .dropdown-menu > li.active > a .tab-img.i-3 {
  background-image: url("../img/icon_buy_credits.png");
}
.tab-invite-1 .dropdown-menu > li.active > a .tab-img.i-4 {
  background-image: url("../img/icon_buy_keyword.png");
}
.tab-invite-1 .dropdown-menu > li.active > a .tab-img.i-5 {
  background-image: url("../img/icon_invite_friends.png");
}
.portlet-heading {
  font-size: 2.6rem;
  color: #5c5c5c;
  font-weight: 900;
}
.portlet-heading2 {
  font-size: 1.8rem;
  color: #5c5c5c;
  font-weight: 900;
}
.portlet-heading3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #5c5c5c;
}
.portlet-subheading {
  font-size: 1.8rem;
}
.sub-tit {
  font-size: 1.6rem;
  color: #274e60;
  margin-bottom: 2rem;
  display: inline-block;
}
.des-for-heading {
  font-style: italic;
  color: #8f8f8f;
}
.btn-create-new-list {
  background-color: #5c5c5c;
  text-transform: uppercase;
  font-weight: 700;
}
.help-block.has-error {
  color: #dd0000;
}
.campaign-next {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.campaign-next i {
  margin-left: 1rem;
}
.wrap-campaign-template {
  position: relative;
}
.wrap-campaign-template .campaign-template {
  margin-bottom: 2rem;
  cursor: pointer;
}
.wrap-campaign-template .campaign-template .template-name {
  width: 100%;
  font-size: 2rem;
  color: #5c5c5c;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.wrap-campaign-template .campaign-template .campaign-template-content {
  margin-top: 2rem;
  display: none;
}
.wrap-campaign-template .campaign-template .campaign-template-content .inner-content {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #74c37f;
}
.wrap-campaign-template .campaign-template .campaign-template-content .inner-content .inner-phone {
  padding: 2rem 2rem 0;
}
.wrap-campaign-template .campaign-template .campaign-template-content .inner-content .inner-phone .img-responsive {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.wrap-campaign-template .campaign-template .campaign-template-content .inner-content .short-content {
  background-color: #5c5c5c;
  text-align: center;
  font-style: italic;
  color: #fff;
  padding: 15px 0;
}
.wrap-campaign-template .campaign-template .retangle-1 {
  position: relative;
  width: 100%;
  background-color: #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.wrap-campaign-template .campaign-template .retangle-1:before {
  content: '';
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.wrap-campaign-template .campaign-template .retangle-1:after {
  content: '';
  display: block;
  padding-bottom: 80%;
}
.wrap-campaign-template .campaign-template .retangle-1 .inner-retangle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap-campaign-template .campaign-template .retangle-1 .inner-retangle .extend-img {
  width: 100%;
}
.wrap-campaign-template .campaign-template.active .template-name {
  color: #fff;
}
.wrap-campaign-template .campaign-template.active .retangle-1 {
  background-color: #74c37f;
}
.wrap-campaign-template .campaign-template.active .retangle-1:before {
  border-bottom: 20px solid #74c37f;
}
.wrap-campaign-template .campaign-template.non-template.active .retangle-1:before {
  display: none;
}
.wrap-preview {
  text-align: center;
}
.wrap-preview .preview-screen {
  display: inline-block;
  position: relative;
  margin: 2rem auto;
  min-width: 390px;
  min-height: 795px;
}
.wrap-preview .preview-screen .bg-preview-screen {
  position: absolute;
  top: 0;
  left: 0;
}
.wrap-preview .preview-screen .phone-screen {
  position: absolute;
  width: 349px;
  height: 500px;
  background: transparent;
  top: 200px;
  left: 20px;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 455px;
  padding: 0 1rem 1rem;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen .bubble {
  display: inline-block;
  padding: 1rem 1.5rem;
  position: relative;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen .bubble.me {
  text-align: left;
  float: right;
  color: #fff;
  font-weight: 700;
  background-color: #00d74a;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen .bubble.me:after {
  content: '';
  width: 21px;
  height: 20px;
  background-image: url('../img/bubble-me.jpg');
  background-repeat: no-repeat;
  position: absolute;
  right: -3px;
  bottom: -10px;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen .bubble.guess {
  width: 80%;
  text-align: left;
  float: left;
  background-color: #e4e4e9;
}
.wrap-preview .preview-screen .phone-screen .inner-phone-screen .bubble.guess:before {
  content: '';
  width: 21px;
  height: 20px;
  background-image: url('../img/bubble-guess.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: -2px;
  bottom: -10px;
}
.wrap-preview .preview-screen .phone-screen .type-screen {
  width: 170px;
  position: absolute;
  right: 10px;
  bottom: 3px;
  height: 32px;
}
.wrap-preview .preview-screen .phone-screen .type-screen #SMSTextInputArea {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  resize: none;
  border: 1px solid #d8d8dc;
  padding: 5px 33px 5px 12px;
  overflow: hidden;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap-preview .preview-screen .phone-screen .type-screen #SMSTextInputArea:focus {
  outline: none;
}
.wrap-preview .preview-screen .phone-screen .type-screen #SMSSend {
  position: absolute;
  right: 5px;
  top: 3px;
  width: 26px;
  height: 26px;
  background-color: #858e99;
  border: none;
  color: #fff;
  line-height: 25px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap-preview .preview-screen .phone-screen .type-screen #SMSSend:focus {
  outline: none;
}
@media (max-width: 480px) {
  .wrap-preview .preview-screen {
    min-height: 500px;
    min-width: initial !important;
    width: 100%;
  }
  .wrap-preview .preview-screen .bg-preview-screen {
    display: none;
  }
  .wrap-preview .preview-screen .phone-screen {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-top: 1rem;
    border: 1px solid #d8d8dc;
  }
  .wrap-preview .preview-screen .phone-screen .type-screen {
    width: auto;
    left: 10px;
  }
}
.collect-feedback-text {
  color: #fff;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .collect-feedback-text {
    width: 60%;
  }
}
.be-modal .modal-header {
  border-bottom: none;
}
.be-modal .modal-body {
  padding: 0 6rem 6rem;
}
.be-modal .be-modal-title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #5c5c5c;
  margin-bottom: 2.5rem;
}
.subscriber-item {
  width: 100%;
  height: 100%;
  padding: 3rem;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.subscriber-item.greenbox {
  background-color: #74c37f;
}
.subscriber-item.greenbox:hover {
  background-color: #45a151;
}
.subscriber-item.bluebox {
  background-color: #578ca5;
}
.subscriber-item.bluebox:hover {
  background-color: #467286;
}
.subscriber-item .titleh4 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 900;
}
.subscriber-item .img-responsive {
  display: inline-block;
}
.row-subscriber .uk-active .subscriber-item.greenbox {
  background-color: #45a151;
}
.row-subscriber .uk-active .subscriber-item.bluebox {
  background-color: #467286;
}
@media (max-width: 1199px) {
  .row-subscriber > [class^='col-'] {
    width: 100%;
    margin-bottom: 2rem;
  }
  .row-subscriber > [class^='col-']:last-of-type {
    margin-bottom: 0;
  }
}
.answer-wrap {
  margin-bottom: 1.5rem;
}
.answer-wrap label {
  float: left;
  font-weight: 700;
  color: #5c5c5c;
  margin-top: 7px;
  margin-right: 10px;
  display: inline-block;
}
.answer-wrap .answer-wrap-select {
  float: left;
  width: 60%;
}
.readonly-val[disabled],
.readonly-val[readonly],
fieldset[disabled] .readonly-val {
  background-color: #fff;
}
.list-answer-template {
  border: 1px solid #5c5c5c;
  overflow: hidden;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.list-answer-template ul li input[type='radio'] {
  width: 0;
  height: 0;
  visibility: hidden;
  float: left;
}
.list-answer-template ul li input[type='radio'] + label {
  display: block;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.list-answer-template ul li input[type='radio']:checked + label {
  background-color: #dedede;
}
.write-mess-body {
  border-top: 1px solid #dedede;
  padding-top: 2rem;
}
.box-multi-choice {
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  .add-another-question {
    text-align: right;
  }
}
.add-plus {
  margin-bottom: 2rem;
}
.or-text span {
  display: inline-block;
  font-size: 1.8rem;
  color: #5c5c5c;
  margin-top: 2.5rem;
}
@media (max-width: 1199px) {
  .or-text span {
    margin-top: 0;
  }
}
.update_cardholder_info {
  margin-bottom: 1.5rem;
}
.update_cardholder_info .list-newinfo li {
  font-weight: 700;
  color: #5b5b5b;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
  .page-header.navbar .page-top {
    height: 75px !important;
  }
  .handle-float-heading .form-heading {
    float: none;
    margin-bottom: 1rem !important;
  }
  .handle-float-heading .anchor-upload {
    float: none;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 26px 10px 28px !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
    margin-top: 0;
  }
}
.wrap-show-img {
  margin-bottom: 1.5rem;
}
.wrap-show-img .OrgLogo-wrapper {
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap-show-img #removeLogo {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  position: relative;
  left: -10px;
  top: -10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .checkbox-list .checkbox-inline:first-of-type {
    display: block;
  }
  .checkbox-list .checkbox-inline:nth-of-type(2) {
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .checkbox-list .checkbox-inline:first-of-type {
    display: block;
  }
  .checkbox-list .checkbox-inline:nth-of-type(2) {
    margin-left: 0;
    padding-left: 0;
  }
}
.uk-switcher > :not(.uk-active) {
  display: none;
}
.page-header.navbar {
  height: 100px;
  min-height: 100px;
  background: #274e60;
  border-bottom: none;
}
.page-header-fixed .page-container {
  margin-top: 100px;
}
.page-header.navbar .page-logo {
  height: 100px;
}
.page-header.navbar .page-top {
  height: 100px;
}
.page-header.navbar .page-logo .logo-default {
  margin: 21px 10px 0;
}
.page-header.navbar .menu-toggler.responsive-toggler {
  margin: 39.5px 14px 0 6px;
}
.page-header.navbar .top-menu .navbar-nav > li > a {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  padding: 40px 10px 39px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user {
  padding: 0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 40px 10px 39px;
}
.page-header.navbar .top-menu .navbar-nav > li.separator {
  margin: 42px 0 0;
}
.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  background-color: #274e60;
  background-color: transparent;
}
.page-sidebar .page-sidebar-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
  overflow: hidden;
  background-color: #274e60;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .page-sidebar {
    width: 354px;
    width: 300px;
  }
  .page-content-wrapper .page-content {
    margin-left: 354px;
    margin-left: 300px;
  }
  .page-sidebar,
  .page-sidebar .page-sidebar-menu {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .page-sidebar {
    width: 354px;
  }
  .page-content-wrapper .page-content {
    margin-left: 354px;
  }
}
.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
  color: #fff;
  text-transform: uppercase;
}
.page-sidebar .page-sidebar-menu > li:first-of-type > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:first-of-type > a {
  border-top: none;
}
@media (min-width: 992px) {
  .page-sidebar .page-sidebar-menu > li > a,
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: 1px solid #fff;
  }
}
.page-sidebar .page-sidebar-menu > li > a > .title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
  font-size: 2rem;
}
.page-sidebar .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
  background: #4c7d94;
  color: #fff;
}
.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
  background: #4c7d94;
  color: #fff;
}
.page-sidebar .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover {
  background: #4c7d94;
  color: #fff;
}
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
  border-left: none !important;
  margin-left: 0;
}
.page-sidebar .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i {
  color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
  margin: 0;
  background: #1f3540;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  padding: 12px 14px 12px 30px;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
  color: #fff !important;
  background: #578ca5 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a {
  font-style: italic;
}
.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
  color: #fff;
  font-size: 1.4rem;
}
.page-sidebar .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i {
  color: #fff;
}
.page-footer-fixed .page-boxed .page-footer,
.page-footer-fixed .page-footer {
  background: #274e60;
}
@media (min-width: 992px) {
  .page-footer-fixed .page-container {
    margin-bottom: 70px !important;
  }
}
