<div class="item-another-mesage">
    <div class="row">
        <div class="col-md-11">
            <div class="form-gd">
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-small">
        <div class="col-lg-4 col-md-11">
            <div class="row row-small form-gd">
                <div class="col-sm-12">
                    <div class="form-group mb-0">
                        <label for="">Interval Time</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">                                                    
                        <select name="" id="" class="bs-select form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="" id="" class="bs-select form-control">
                            <option value="">week(s)</option>
                            <option value="">month(s)</option>
                            <option value="">year(s)</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="" id="" class="bs-select form-control">
                            <option value="">00:00 am</option>
                            <option value="">00:01 am</option>
                            <option value="">00:02 am</option>
                        </select>
                    </div>
                </div>                                                                    
            </div>                                                                    
        </div>
        <div class="col-lg-1 col-md-12">
            <div class="text-center or-text">
                <span>OR</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-11">
            <div class="row row-small form-gd">
                <div class="col-sm-12">
                    <div class="form-group mb-0">
                        <label for="">When to Send this Message</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="" id="" class="bs-select form-control">
                            <option value="">Month</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="" id="" class="bs-select form-control">
                            <option value="">Day</option>
                            <option value="">month(s)</option>
                            <option value="">year(s)</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select name="" id="" class="bs-select form-control">
                            <option value="">Year</option>
                            <option value="">00:01 am</option>
                            <option value="">00:02 am</option>
                        </select>
                    </div>
                </div>                                                                    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn green-gd add-plus another-append">add another mesage +</a>
        </div>
    </div>
</div>